<div class="title">
  <h2>{{country.title}}</h2>
</div>
<div class="main">
  <div class="ui items">
    <div class="item">
      <img class="ui medium bordered image" src="{{country.flag}}">
      <div class="content">
        <p class="header">Details</p>
        <div class="description">
          <div>
          Capital: {{country.capital}}
          </div>
          <div>
          Official language: {{country.language}}
          </div>
          <div>
          Total area: {{country.area}} km<sup>2</sup>
          </div>
          <div>
          Total population: {{country.population}}
          </div>
          <div>
          Currency: {{country.currency}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
